nav ul a, nav .button-collapse i{
    color: black;
}
nav, .card{
    box-shadow: 0 0 0;
}
.card .card-content {
    padding: 0px;
}
nav img{
    margin-top: 12px;
    margin-left: 12px;
    height: 1.2em;
}

h1{
    text-align: center;
}

.grey-section{
    margin-top: 75px;
    background-color: #f5f5f5;
}